
  <div class="container-card">
    
    <div class="card adultos" routerLink="/IMCAdultos"> 
      <div class="contenido-card ">
        <h3 class="card-title " > IMC adultos</h3>      
      </div>
    </div>
   
    <div class="card niños" routerLink="/IMCNiños"> 
      <div class="contenido-card">
        <h3 class="card-title " > IMC niños</h3>      
      </div>
    </div>
    
    <div class="card peso" routerLink="/" > 
      <div class="contenido-card">
        <h3 class="card-title " > Peso ideal</h3>      
      </div>
    </div>
    </div>
   