<div class="container-fluid">
    <h1 class="text-center">Calcular IMC niños</h1>
    <p class="text-center">Para calcular el IMC en niños necesitamos que completes las siguientes preguntas</p>
  
    <form [formGroup]="form" class="text-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-4">
          <h2>¿Cuál es su género?</h2>
          <div class="row justify-content-center">
            <div class="col-sm-6">
              <img src="../assets/nina.png" alt="" width="120" height="120" [class.selected]="imagenSeleccionada === 'mujer'" (click)="seleccionarImagen('mujer')">
            </div>
            <div class="col-sm-6">
              <img src="../assets/chico.png" alt="" width="120" height="120" [class.selected]="imagenSeleccionada === 'hombre'" (click)="seleccionarImagen('hombre')">
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <h2>¿Que edad tenes?</h2>
          <input type="number" class="form-control rounded-input" formControlName="edad">
        </div>
      </div>
  
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-4">
          <h2>¿Cuánto pesa?</h2>
          <input type="number" class="form-control rounded-input" formControlName="peso">
        </div>
  
        <div class="col-sm-4">
          <h2>¿Cuánto mide?</h2>
          <input type="number" class="form-control rounded-input" formControlName="altura">
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Calcular IMC</button>
        </div>
      </div>
    </form>
  </div>
  