<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <img src="../assets/calculadora.png" alt="" width="60" height="60" class="d-inline-block align-text-center" 
      routerLink="/Inicio">
      <h2 style="margin-left: 15px; margin-bottom: 0;" routerLink="/Inicio">Nutricional calculators</h2>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown" style="margin-right: 2cm;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
             <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          
        </li>

        <li class="nav-item dropdown d-flex align-items-center" style="margin-left: 2cm;">
          <button class="dropdown-toggle d-flex align-items-center" mat-button [matMenuTriggerFor]="menu">
            Calculadoras <span class="caret"></span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/IMCAdultos">IMC adultos</button>
            <button mat-menu-item routerLink="/IMCNiños">IMC niños</button>
            <button mat-menu-item routerLink="/PesoIdeal">Peso ideal</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>

 
<div class="container-fluid ">

  <router-outlet></router-outlet> 
</div>




    
 
 
